mat-card {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
}

h2 {
  margin-bottom: 10px;
}

mat-form-field,
.slider-container {
  display: block;
  margin-bottom: 15px;
}

mat-slider {
  display: block;
}

.slider-container label {
  display: block;
}

.slider-container p {
  margin-top: 10px;
}

.survey-container {
  display: flex;
  gap: 20px;
}

.survey-form-card, .analysis-card {
  flex: 1;
}

.analysis-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.analysis-item {
  margin-bottom: 10px;
}

.average-stress {
  font-size: 1.5rem;
  font-weight: bold;
}

.total-surveys {
  font-size: 1rem;
  color: #555;
}
